body {
  text-align: center;
  font-family: Georgia, serif;
  background: linear-gradient(to right, #fdfcfb, #e2d1c3);
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 20px;
  color: #5a3e2b;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #5a3e2b;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin: 30px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.cell:hover {
  transform: scale(1.1);
}
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: rgba(255,255,255,0.5);
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #5a3e2b;
  font-weight: bold;
}

.quote-section {
  margin-top: 30px;
  padding: 20px;
  background: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

.games {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

footer {
  margin-top: 50px;
  padding: 15px;
  background: #5a3e2b;
  color: white;
}
.controls button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background: brown;
  color: white;
}
@media (max-width: 600px) {
  .game-card {
    width: 90%;
  }
  }
.game-card {
  background: white;
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}
.puzzle-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#puzzle-board {
    width: 320px;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.tile {
    background: #5a3e2b;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}

.tile:hover {
    transform: scale(1.05);
}
.stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
.win-box {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 10px;
    display: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
